/* footer section start*/

.footer-top {
    padding: 120px 0;
		  ul li {
			line-height: 44px;
				a {
			    color: #616161;
			    font-size: 15px;
			   }
		  }
  } 


h4.footer-section {
    font-size: 22px;
    color: $primary_color;
}

.footer-logo a {
    font-size: 45px;
    margin: -78px 0 0 0 !important;
    font-weight: 700;
}

.footer-bottom p{
	line-height: 70px;
}

/*footer end section*/