
.single-pricing-section {
    background: $white_color;
    /* border: 1px solid #43434343; */
    padding: 57px 0;
    width: 370px;
    margin: auto;
    box-shadow:-1px 0px 18px 0px rgba(50, 50, 50, 0.09);
}

.pricing-list {
    background: #fafafd;
    span {
    display: block;
    line-height: 60px;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
}

}


p.pricing-ammount {
    padding: 20px 0;
   span {
    font-size: 50px;
    color: #b082f4;
}

}




My Intro
About Me 


Name: sayed babu

Phone :+8801836967084

email: Bbaulancerg@gmail.com
My Interest



Masters of Business Administeration
mangement
2011-2014


