@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
.containers {
  width: 1170px;
  margin: auto;
}

.rows {
  display: flex;
}

.w-1 {
  width: 8.3333333333%;
}

.w-2 {
  width: 16.6666666667%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.3333333333%;
}

.w-5 {
  width: 41.6666666667%;
}

.w-6 {
  width: 50%;
}

.w-7 {
  width: 58.3333333333%;
}

.w-8 {
  width: 66.6666666667%;
}

.w-9 {
  width: 75%;
}

.w-10 {
  width: 83.3333333333%;
}

.w-11 {
  width: 91.6666666667%;
}

.w-12 {
  width: 100%;
}

/*navbar start*/
header#header-area {
  padding: 53px 0;
}

.nav > ul {
  display: flex;
  margin: 17px 0 0 0;
}
.nav > ul .active {
  display: block;
  background: red;
  z-index: -14;
}
.nav > ul li a {
  padding: 0px 17.5px;
  color: #333;
  text-decoration: none;
}

.flex {
  display: flex;
}

.humbergur {
  display: none;
}

.logo a {
  font-size: 35px;
  color: #5e29e6;
  text-decoration: none;
  font-weight: bolder;
}

/* this file is hiden */
.header-btn a {
  width: 160px;
  background: #e3e4f6;
  display: inline-block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  color: #131c2b;
  margin: 0 0 0 43px;
}

.phone a {
  color: #616161;
  margin: 0 0 0 68px;
  line-height: 50px;
}
.phone a span {
  color: #5e29e6;
  margin: 0 0 0 7px;
}

/*navbar end*/
/*normalize section start*/
/*Base css*/
.margin {
  margin: 200px 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 400;
  color: #1c144e;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #929292;
  line-height: 30px;
}

h2 {
  font-size: 47px;
  font-weight: 700;
  color: #1c144e;
  line-height: 70px;
}

h3 {
  font-size: 30px;
  color: #1c144e;
  font-weight: 600;
  line-height: 40px;
}

h3 span {
  display: block;
}

h4 {
  font-size: 20px;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.table {
  display: table;
  width: 100%;
  margin: 0;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.fr {
  float: right;
}

a.primary-btn {
  width: 165px;
  height: 47px;
  line-height: 47px;
  background-color: #5e29e6;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  margin: 40px 0 0 0;
  box-shadow: 13px 12px 50px rgba(94, 41, 230, 0.5);
  transition: 1s;
}
a.primary-btn:hover {
  background-color: transparent;
  color: #343434;
}

a.secondary-btn {
  background: -webkit-linear-gradient(-41deg, #9056ff 0%, #d03aff 100%);
  width: 165px;
  height: 47px;
  line-height: 47px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  margin: 40px 0 0 0;
  box-shadow: 13px 12px 50px rgba(94, 41, 230, 0.5);
  transition: 1s;
}
a.secondary-btn:hover {
  background: #ff5981;
  color: #ffffff;
}

a.arrow-btn {
  color: #1c144e;
  font-size: 16px;
  font-weight: 600;
  transition: 1s;
  margin: 10px 0;
  display: inline-block;
}
a.arrow-btn:hover {
  font-size: 18px;
  background: #5e29e6;
  padding: 10px 20px;
  border-radius: 50px;
  color: #ffffff;
}

.section-title {
  padding: 130px 0;
}
.section-title p span {
  display: block;
}

/*normalize section end*/
/*hero section start */
div#order-1 {
  margin: 150px 0;
}
div#order-1 p {
  font-size: 20px;
  font-weight: 400;
}

.pulse {
  background: #d9d9f3;
  padding: 10px;
  margin: auto;
  border-radius: 50%;
  display: table;
  line-height: 80px;
}
.pulse .center-pulse {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  animation: animate 3s linear infinite;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
.pulse .center-pulse a {
  color: #5e29e6;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(162, 200, 248, 0.7), 0 0 0 0 rgba(255, 109, 74, 0);
  }
  40% {
    box-shadow: 0 0 0 15px rgba(162, 200, 248, 0), 0 0 0 0 rgba(255, 109, 74, 0);
  }
  80% {
    box-shadow: 0 0 0 25px rgba(162, 200, 248, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(162, 200, 248, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}
/*hero secion end*/
/*about section start*/
#work-process-area {
  position: relative;
}

.hover-over-content {
  background-size: cover;
  width: 80%;
  min-height: 235px !important;
  background-position: center;
  background: no-repeat;
  margin: 0 0 0 50px;
}
.hover-over-content h4 {
  color: #ffffff;
  width: 195px;
  border-radius: 5px;
  z-index: 1;
  padding: 20px 0 20px 20px;
  position: absolute;
  top: 70px;
  cursor: pointer;
  left: 0;
  transition: 1s;
  content: " ";
}
.hover-over-content h4.first {
  background: rgba(23, 206, 255, 0.8);
}
.hover-over-content h4.second {
  background: rgba(208, 58, 255, 0.8);
}
.hover-over-content h4.third {
  background: rgba(255, 89, 129, 0.8);
}
.hover-over-content h4:hover {
  margin: 0 0 0 68px;
}

.work-press-images {
  z-index: -1 !important;
}

section#about-section {
  padding: 130px;
}
section#about-section .about-left-content {
  padding: 0 0 120px 0;
}

/*about section end*/
.every-sinle-process {
  margin: -246px 0 0 0;
}

.section-title.about-section-title {
  padding: 130px 0 50px 0;
}

section#our-work-process-title {
  background-position: center;
  background-size: cover;
  min-height: 565px;
}
section#our-work-process-title h3, section#our-work-process-title p {
  color: #ffffff;
}

.images-hover-effect {
  box-shadow: 6px 13px 5px 0px #f2f7f3;
  margin: 0 0 30px 0;
}
.images-hover-effect:hover {
  box-shadow: none;
}

/*service section start*/
.service-section {
  background: linear-gradient(90deg, #e1e3f5 0%, white 47%, #e1e3f5 100%);
  padding: 65px 0 95px 0;
}

.single-service-section {
  width: 270px;
  padding: 20px;
  margin: 30px auto 0 auto;
  background: #ffffff;
  transition: 2s;
}
.single-service-section .icon {
  height: 60px;
  width: 60px;
  background: rebeccapurple;
  color: #ffffff;
  border-radius: 50%;
  line-height: 60px;
  margin: 0 auto 20px auto;
  transition: 2s;
}
.single-service-section:hover p {
  color: #ffffff;
  cursor: pointer;
}

.feature-class {
  color: #0090B2;
}
.feature-class:hover {
  color: #FF7A00;
}

.service-1 .icon {
  background: linear-gradient(-41deg, #17ceff 0%, #17ceff 100%);
}
.service-1:hover {
  background: linear-gradient(-41deg, #17ceff 0%, #17ceff 100%);
}

.service-2 .icon {
  background: linear-gradient(-41deg, #9056ff 0%, #d03aff 100%);
}
.service-2:hover {
  background: linear-gradient(-41deg, #9056ff 0%, #d03aff 100%);
}

.service-3 .icon {
  background: linear-gradient(-41deg, #ff5981 0%, #ffaa84 100%);
}
.service-3:hover {
  background: linear-gradient(-41deg, #ff5981 0%, #ffaa84 100%);
}

.service-4 .icon {
  background: linear-gradient(-41deg, #a7e512 0%, #038156 100%);
}
.service-4:hover {
  background: linear-gradient(-41deg, #a7e512 0%, #038156 100%);
}

.service-5 .icon {
  background: linear-gradient(-41deg, #ffdd13 0%, #ffa304 100%);
}
.service-5:hover {
  background: linear-gradient(-41deg, #ffdd13 0%, #ffa304 100%);
}

.service-6 .icon {
  background: linear-gradient(-41deg, #41ed90 0%, #37f8d0 100%);
}
.service-6:hover {
  background: linear-gradient(-41deg, #41ed90 0%, #37f8d0 100%);
}

.service-7 .icon {
  background: linear-gradient(-41deg, #ff7083 0%, #fc294f 100%);
}
.service-7:hover {
  background: linear-gradient(-41deg, #ff7083 0%, #fc294f 100%);
}

.service-8 .icon {
  background: linear-gradient(-41deg, #338dff 0%, #4a2ffd 100%);
}
.service-8:hover {
  background: linear-gradient(-41deg, #338dff 0%, #4a2ffd 100%);
}

.single-service-section:hover .icon {
  background: #ffffff;
  color: #333;
}

/*service section start*/
.single-pricing-section {
  background: #ffffff;
  /* border: 1px solid #43434343; */
  padding: 57px 0;
  width: 370px;
  margin: auto;
  box-shadow: -1px 0px 18px 0px rgba(50, 50, 50, 0.09);
}

.pricing-list {
  background: #fafafd;
}
.pricing-list span {
  display: block;
  line-height: 60px;
  border-bottom: 1px solid #cccccc;
  padding: 20px 0;
}

p.pricing-ammount {
  padding: 20px 0;
}
p.pricing-ammount span {
  font-size: 50px;
  color: #b082f4;
}

section.newslatter {
  background: #5e29e6;
}

input[type=text] {
  border: none;
  border-radius: 50px 0 0 50px;
  padding: 0 44px;
  width: 430px;
  height: 60px;
}

.subscribe-submit {
  padding: 20px;
}
.subscribe-submit a {
  border-radius: 0 50px 50px 0;
  width: 200px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
}

.section-title.newslatter-section-title h2, .section-title.newslatter-section-title p {
  color: #ffffff;
}

/* footer section start*/
.footer-top {
  padding: 120px 0;
}
.footer-top ul li {
  line-height: 44px;
}
.footer-top ul li a {
  color: #616161;
  font-size: 15px;
}

h4.footer-section {
  font-size: 22px;
  color: #5e29e6;
}

.footer-logo a {
  font-size: 45px;
  margin: -78px 0 0 0 !important;
  font-weight: 700;
}

.footer-bottom p {
  line-height: 70px;
}

/*footer end section*/
@media only screen and (max-width: 1170px) {
  .containers {
    width: 920px;
  }

  .socail-contact {
    display: none;
  }
}
@media only screen and (max-width: 920px) {
  .containers {
    width: 720px;
  }
}
@media only screen and (max-width: 720px) {
  nav .main-menu {
    display: none;
  }

  .hamburger {
    display: block;
    border: 1px solid #333;
    margin: 0 16px 0 0;
    cursor: pointer;
    right: 0px;
    top: 12px;
    position: absolute;
  }
  .hamburger span {
    height: 1px;
    width: 26px;
    margin: 7px 7px;
    background: #333;
    content: " ";
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
